@page "/generateoutfit"
@using FrontEnd.Components.OutfitComponents
@using FrontEnd.Components.Utils


<PageTitle>Generate Outfit</PageTitle>
<h1 class="text-4xl text-center font-bold text-gray-900 mb-8">Generate Outfit</h1>
<WeatherInfoDisplay />
@code {

}
