@page "/generateoutfit"
@using FrontEnd.Components.OutfitComponents
@using FrontEnd.Components.Utils


<PageTitle>Generate Outfit</PageTitle>
<h1 class="text-4xl text-center font-bold text-gray-900 mb-8">Generate Outfit</h1>
<GenerateOutfitFrame />
<style>
    a, h1, h2, h3, h4, h5, p, button {
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
</style>
@code {

}

