@page "/generateoutfit"

<PageTitle>Generate Outfit</PageTitle>

<div class="min-h-screen flex flex-col items-center justify-top bg-gray-100 p-6">
    <h1 class="text-4xl font-bold text-gray-900 mb-8">Generate Outfit</h1>

    <!-- Weather Display: Left -->
        <a href="/" class="bg-white rounded-xl shadow-lg p-6 flex flex-col items-center text-center transition-transform transform hover:scale-105 hover:bg-gray-200">
            <h3 class="text-l font-semibold text-gray-800 underline">Weather Info</h3>
            <p class="text-gray-600 mt-2">Location: </p>
            <p class="text-gray-600 mt-2">Temperature(C): </p>
            <p class="text-gray-600 mt-2">Conditions: Sunny all day</p>
        </a>
    <!-- Main Reccommended Outfit: Centre, Large -->
    <a href="/" class="bg-white rounded-xl shadow-lg p-6 flex flex-col items-center text-center transition-transform transform hover:scale-105 hover:bg-gray-200">
        <h2 class="text-xl font-semibold text-gray-800 underline">Main Outfit</h2>
        <p class="text-gray-600 mt-2">jacket pic</p>
        <p class="text-gray-600 mt-2">top pic</p>
        <p class="text-gray-600 mt-2">bottom pic</p>
    </a>
    <!-- Outfit Details: Right -->
    <a href="/" class="bg-white rounded-xl shadow-lg p-6 flex flex-col items-center text-center transition-transform transform hover:scale-105 hover:bg-gray-200">
        <h3 class="text-xl font-semibold text-gray-800 underline">Details</h3>
        <p class="text-gray-600 mt-2">Adidas Hoodie in stripes</p>
        <p class="text-gray-600 mt-2">Nike Top in Blue</p>
        <p class="text-gray-600 mt-2">Topshop Trousers in Black</p>
    </a>
     

</div>

@code {

}
