@rendermode InteractiveServer
@page "/"
@using FrontEnd.Components.HomeComponents
@using FrontEnd.Components.DefaultLayoutComponents
@layout Components.Layout.EmptyLayout

<PageTitle>Trendify - Home Page</PageTitle>
<Header></Header>
<div class="flex flex-col h-full" id="homeContainer">
    
    <div class="mx-auto flex flex-row flex-grow h-1/2 max-w-7xl p-6 lg:px-8 overflow-hidden">

        <div class="w-1/2">
            <h1 class="font-bold text-gray-900 mb-8" id="homeBanner">ALWAYS YOUR BEST</h1>
            <button class=" bg-white transition transition-colors duration-300 ease-in-out rounded-full text-gray-900 px-4 py-1">Generate Outfit<span aria-hidden="true">&rarr;</span></button>
        </div>

        <div class="w-1/2 flex justify-center items-center h-100 items-center relative">
            <div class="w-1/2 h-3/4 transform absolute z-1" id="circle">
            </div>
            <div class="w-1/2 h-3/4 transform absolute z-1" id="burst-13">
            </div>
            <div class="w-1/2 h-3/4 transform rotate-[0.4rad] z-10">
                <img class="shadow-md rounded-2xl" src="https://plus.unsplash.com/premium_photo-1691367279675-0e466cfb5135?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            </div>
            <div class="w-1/2 h-3/4 transform absolute z-0 -right-12" id="image2">
                <img class="shadow-md rounded-2xl" src="https://plus.unsplash.com/premium_photo-1691622500876-2d32e983b132?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            </div>
            <div class="w-1/2 h-3/4 transform absolute z-1" id="burst-12">
            </div>
        </div>


    </div>

</div>

<div class="flex flex-col h-full">
    
    <div class="mx-auto flex flex-row flex-grow h-1/2 max-w-7xl p-6 lg:px-8 overflow-hidden">
        <h2 class="text-xl font-semibold text-gray-800 mb-4 p-4">Browse My Collection</h2>
        </div>
</div>

<div class="flex flex-no-wrap overflow-x-scroll py-8 scrolling-touch items-start h-auto overflow-hidden py-12" id="myCollectionScrollable">

                @foreach(var item in clothingToDisplay)
                {
                <div class="flex-none w-2/3 md:w-1/3 mr-8 md:pb-4 border">
                        <ClothingFrameWODetails clothing="item"/>
                </div>
                }
</div>

<Footer></Footer>
<style>
    a, h2, h3, h4, h5, p, button {
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
    h1{
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
    #homeContainer{
        background-color: #F2D2BD;
    }
    #homeBanner{
        font-size: 10rem;
        line-height: 0.8;
    }

    #myCollectionScrollable{
        height: 450px;
    }

    #image2{
        right: -20px;
    }

    #circle {
        width: 100px;
        height: 100px;
        background: #FFD046;
        border-radius: 50%;
        position: absolute;
        z-index: 15;
        bottom: 0;
        right: 100px;
    }

    #burst-12 {
        background: #2EE7FF;
        width: 80px;
        height: 80px;
        position: relative;
        text-align: center;
        top: -75px;
    }

        #burst-12:before,
        #burst-12:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 80px;
            width: 80px;
            background: #2EE7FF;
        }

        #burst-12:before {
            transform: rotate(30deg);
        }

        #burst-12:after {
            transform: rotate(60deg);
        }

    #burst-13 {
        background: red;
        width: 160px;
        height: 160px;
        position: relative;
        text-align: center;
        left: 10px;
    }

        #burst-13:before,
        #burst-13:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 160px;
            width: 160px;
            background: red;
        }

        #burst-13:before {
            transform: rotate(30deg);
        }

        #burst-13:after {
            transform: rotate(60deg);
        }
</style>
@code{
    private List<ClothingItem> allClothingList { get; set; } = new();
    private string statuscode;
    private bool dbError;

    private List<ClothingItem> clothingToDisplay { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        try
        {

            var response = await HttpManager.GetAllClothing();
            if (response.HasError)
            {
                statuscode = response.StatusCode.ToString();

            }
            else
            {
                allClothingList = response.ResponseObject;
                clothingToDisplay = allClothingList.Take(6).ToList();

            }

        }
        catch (Exception e)
        {
            dbError = true;
        }

    }
}