@rendermode InteractiveServer
@page "/"
@using FrontEnd.Components.HomeComponents
@using FrontEnd.Components.DefaultLayoutComponents
@layout Components.Layout.EmptyLayout

<PageTitle>Trendify - Home Page</PageTitle>
<Header></Header>
<div class="flex flex-col h-full" id="homeBannerContainer">
    
    <div class="mx-auto flex flex-row flex-grow h-1/2 max-w-7xl p-6 lg:px-8 overflow-hidden">

        <div class="w-1/2">
            <h1 class="font-bold text-gray-900 mb-8" id="homeBanner">ALWAYS YOUR BEST</h1>
            <a href="/mycollection"><button class=" bg-white transition transition-colors duration-300 ease-in-out rounded-full text-gray-900 px-4 py-1">Generate Outfit<span aria-hidden="true">&rarr;</span></button></a>
        </div>

        <div class="w-1/2 flex justify-center items-center h-100 items-center relative">
            <div class="w-1/2 h-3/4 transform absolute z-1" id="circle">
            </div>
            <div class="w-1/2 h-3/4 transform absolute z-1" id="burst-13">
            </div>
            <div class="w-1/2 h-3/4 transform rotate-[0.4rad] z-10">
                <img class="shadow-md rounded-2xl" src="https://plus.unsplash.com/premium_photo-1691367279675-0e466cfb5135?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            </div>
            <div class="w-1/2 h-3/4 transform absolute z-0 -right-12" id="image2">
                <img class="shadow-md rounded-2xl" src="https://plus.unsplash.com/premium_photo-1691622500876-2d32e983b132?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            </div>
            <div class="w-1/2 h-3/4 transform absolute z-1" id="burst-12">
            </div>
        </div>


    </div>

</div>



<div class=" bg-white flex flex-col h-full" id="collectionHeading">
    
    <div class="mx-auto flex flex-row flex-grow h-1/2 max-w-7xl p-6 lg:px-8 overflow-hidden">
        <h2 class="mb-2 text-2xl font-bold tracking-tight">BROWSE YOUR COLLECTION</h2>
        </div>
</div>

<div class=" bg-white flex h-[400px] mb-8" id="myCollectionScrollable">
    <div class="w-full h-full flex flex-no-wrap overflow-x-scroll overflow-y-hidden scrolling-touch items-start pb-6">
        @foreach (var item in clothingToDisplay)
        {
            <div class="flex-none h-full mb-8 mr-8 itemCard overflow-hidden">
                <ClothingFrameWODetails clothing="item" />
            </div>
        }
    </div>
</div>


<div class="flex flex-grow h-[20rem]" id="featuresContainer">

    <div class="mx-auto flex flex-row flex-grow h-full justify-between max-w-7xl p-6 lg:px-8">
        <div class="bg-white rounded-2xl h-full w-[20rem] block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                OUTFIT GENERATION
            </h2>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Receive outfit recommendations based on the current weather in your desired location
            </p>
        </div>

        <div class="bg-white rounded-2xl h-full w-[20rem] block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                STORE AND MANAGE YOUR PRIVATE CLOTHING COLLECTION
            </h2>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Update and manage your private clothing collection. Add or remove items as needed.
            </p>
        </div>

        <div class="bg-white rounded-2xl h-full w-[20rem] block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                FIND ANY ITEM WITH EASE
            </h2>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Looking for a specific item? Use the filter menu to find each item with ease!
            </p>
        </div>


    </div>
</div>



<Footer></Footer>
<style>
    a, h2, h3, h4, h5, p, button {
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }

   
    h1{
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
    #homeBannerContainer, #featuresContainer{
        background-color: #F2D2BD;
    }
    #homeBanner{
        font-size: 10rem;
        line-height: 0.8;
    }

   

    #image2{
        right: -20px;
    }

    #circle {
        width: 100px;
        height: 100px;
        background: #FFD046;
        border-radius: 50%;
        position: absolute;
        z-index: 15;
        bottom: 0;
        right: 100px;
    }

    #burst-12 {
        background: #2EE7FF;
        width: 80px;
        height: 80px;
        position: relative;
        text-align: center;
        top: -75px;
    }

        #burst-12:before,
        #burst-12:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 80px;
            width: 80px;
            background: #2EE7FF;
        }

        #burst-12:before {
            transform: rotate(30deg);
        }

        #burst-12:after {
            transform: rotate(60deg);
        }

    #burst-13 {
        background: red;
        width: 160px;
        height: 160px;
        position: relative;
        text-align: center;
        left: 10px;
    }

        #burst-13:before,
        #burst-13:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 160px;
            width: 160px;
            background: red;
        }

        #burst-13:before {
            transform: rotate(30deg);
        }

        #burst-13:after {
            transform: rotate(60deg);
        }
</style>
@code{
    private List<ClothingItem> allClothingList { get; set; } = new();
    private string statuscode;
    private bool dbError;

    private List<ClothingItem> clothingToDisplay { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        try
        {

            var response = await HttpManager.GetAllClothing();
            if (response.HasError)
            {
                statuscode = response.StatusCode.ToString();

            }
            else
            {
                allClothingList = response.ResponseObject;
                clothingToDisplay = allClothingList.Take(6).ToList();

            }

        }
        catch (Exception e)
        {
            dbError = true;
        }

    }
}