<footer class="bg-white border-t border-gray-300 text-center p-6">
    <p class="text-sm font-semibold text-gray-900">
        &copy; Trendify by Team Lemur, 2025. All rights reserved.
    </p>
</footer>


@code {

}
