@rendermode InteractiveServer
@inject NavigationManager Navigation
<header class="bg-white">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <!--Logo Section-->
        <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5">
                <span class="tracking-wide text-lg font-sans font-black h-[100px] w-auto">
                    <img src="/images/TrendifyLogoNav.png" class="w-[150px] h-auto" />
                </span>
            </a>
        </div>
         @if (isAuthenticated)
            {
                <div class="flex lg:hidden">
                    <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Open main menu</span>
                        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                    </button>
                </div>
                <div class="hidden lg:flex lg:gap-x-12">
                    <a href="/mycollection" class="roboto  text-gray-900">My Collection</a>
                    <a href="/generateoutfit" class="roboto  text-gray-900">Generate Outfit</a>
                </div>
            }
        <div class="lg:flex lg:flex-1 lg:justify-end lg:gap-x-12 rounded-full ">

            <!--<a href="/login" class="text-sm/6 font-semibold text-white-900 bg-amber-700 rounded-md  text-white px-2">Sign-Up</a>-->
            <!-- <a href="/login" class="hover:bg-red-400 hover:text-white bg-white transition transition-colors duration-300 ease-in-out border border-red-400 rounded-full text-gray-900 px-4 py-1">Log in <span aria-hidden="true">&rarr;</span></a> -->
            @if (isAuthenticated)
            {
                <a href="#" @onclick="Logout" class="hover:bg-red-400 hover:text-white bg-white transition transition-colors duration-300 ease-in-out border border-red-400 rounded-full text-gray-900 px-4 py-1">
                    Log out <span aria-hidden="true">&rarr;</span>
                </a>
            }
            else
            {
                <a href="/login" class="hover:bg-red-400 hover:text-white bg-white transition transition-colors duration-300 ease-in-out border border-red-400 rounded-full text-gray-900 px-4 py-1">
                    Log in <span aria-hidden="true">&rarr;</span>
                </a>
            }
            
        </div>
    </nav>
  
</header>

<style>
    a{
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }


</style>
@code {
    private bool isAuthenticated;

    protected override void OnInitialized()
    {
        isAuthenticated =  HttpManager.IsUserLoggedIn;
        StateHasChanged();
    }

    private async Task Logout()
    {
        HttpManager.LogoutUser();
        isAuthenticated = false;
        Navigation.NavigateTo("/login", true);
    }
}
