@using FrontEnd.Components.Utils
@inject NavigationManager Navigation

@if (clothingList == null)
{
    <div class="d-flex align-items-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <ClothingItemList clothesList="@clothingList" DeleteClothingItem="DeleteClothingItem"></ClothingItemList>
}



@code {

    private List<ClothingItem> clothingList { get; set; }
    private string statuscode;
    private bool dbError;

    protected async override Task OnInitializedAsync()
    {
        await FetchClothingItems();

    }

    private async Task FetchClothingItems()
    {
        try
        {
            var response = await HttpManager.GetAllClothing();
            if (response.HasError)
            {
                statuscode = response.StatusCode.ToString();
            }
            else
            {
                clothingList = response.ResponseObject;
            }
        }
        catch (Exception e)
        {
            dbError = true;
        }


    }

    public async Task DeleteClothingItem(int id)
    {
        Console.WriteLine("Delete clicked at item " + (id - 1));
        try
        {

            var response = await HttpManager.DeleteClothingItem(id);
            if (response.HasError)
            {
                statuscode = response.StatusCode.ToString();
                Console.WriteLine(statuscode);

            }
            else
            {
                await FetchClothingItems();
                Navigation.NavigateTo("/mycollection", forceLoad: true);
            }


        }
        catch (Exception e)
        {
            dbError = true;
        }
   
    }
}
