@using FrontEnd.Components.Utils

@if (clothingList == null)
{
    <div class="d-flex align-items-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <ClothingItemList clothesList="@clothingList"></ClothingItemList>
}



@code {

    private List<ClothingItem> clothingList { get; set; }
    private string statuscode;
    private bool dbError;

    protected async override Task OnInitializedAsync()
    {
        try
        {

            var response = await HttpManager.GetAllClothing();
            if (response.HasError)
            {
                statuscode = response.StatusCode.ToString();

            }
            else
            {
                clothingList = response.ResponseObject;
               
            }

        }catch(Exception e)
        {
            dbError = true;
        }

    }
}
