@using FrontEnd.Components.Utils

<div class="container h-[2rem] flex flex-row items-center gap-4 mb-8">
    <div class="w-auto h-full flex-none">
        <FilterBar ChangeFilterQuery="ChangeFilterQuery" Query="Query"></FilterBar>
    </div>
    <button type="button" @onclick="() => ShowModal.InvokeAsync()"
            class="ml-[5rem] h-full text-white bg-stone-400 font-medium rounded-full text-sm
 hover:bg-stone-500  px-5 text-center inline-flex items-center">
        Add Item
    </button>
</div>


@code {
    [Parameter]
    public bool _hidden { get; set; } 

    [Parameter]
    public EventCallback ShowModal { get; set; }

    [Parameter]
    public Query Query { get; set; } = new();

    [Parameter]
    public EventCallback<Query> ChangeFilterQuery { get; set; }
}
