<div class="container flex flex-row mb-8 items-center">
    <Filter></Filter>
    <button type="button" @onclick="() => ShowModal.InvokeAsync()" class="mx-auto text-white relative bg-stone-400 h-3/4 font-medium rounded-lg text-sm px-4 py-2 hover:bg-stone-500">Add Item</button>
</div>

@code {
    [Parameter]
    public bool _hidden { get; set; } 

    [Parameter]
    public EventCallback ShowModal { get; set; }
}
