@using Backend.Models.Enums;
@using FrontEnd.Components.Utils

<div class="container h-full flex flex-row space-x-4">
    <Filter TEnum="ClothingCategory" DropdownLabel="Category" Query="Query" ChangeFilterQuery="ChangeFilterQuery" DropdownAlert="DropdownAlert" WhichDropdownClicked="@WhichDropdownClicked" />
    <Filter TEnum="ClothingSize" DropdownLabel="Size" Query="Query" ChangeFilterQuery="ChangeFilterQuery" DropdownAlert="DropdownAlert" WhichDropdownClicked="@WhichDropdownClicked" />
    <Filter TEnum="Occasion" DropdownLabel="Occasion" Query="Query" ChangeFilterQuery="ChangeFilterQuery" DropdownAlert="DropdownAlert" WhichDropdownClicked="@WhichDropdownClicked" />
    <Filter TEnum="Season" DropdownLabel="Season" Query="Query" ChangeFilterQuery="ChangeFilterQuery" DropdownAlert="DropdownAlert" WhichDropdownClicked="@WhichDropdownClicked" />
</div>

@code {
    [Parameter]
    public Query Query { get; set; } = new();

    [Parameter]
    public EventCallback<Query> ChangeFilterQuery { get; set; }

    public string? WhichDropdownClicked { get; set; }

    private bool AnotherDropdownOpen { get; set; }

    private void DropdownAlert(string label) {
        WhichDropdownClicked = label;
    }
}
