@using Backend.Models.Enums;

<div class="container w-full h-8 flex flex-row items-center justify-center mt-8 space-x-4">
    <Filter TEnum="@ClothingCategory" DropdownLabel="Category" ChangeFilterQuery="ChangeFilterQuery" />
    <Filter TEnum="@ClothingCategory" DropdownLabel="Category" ChangeFilterQuery="ChangeFilterQuery" />
    <Filter TEnum="@ClothingCategory" DropdownLabel="Category" ChangeFilterQuery="ChangeFilterQuery" />
    <Filter TEnum="@ClothingCategory" DropdownLabel="Category" ChangeFilterQuery="ChangeFilterQuery" />
</div>

@code {
    [Parameter]
    public EventCallback<string> ChangeFilterQuery { get; set; }
}
