<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="FrontEnd.styles.css" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <HeadOutlet />
</head>

<body class="bg-gray-100">
    <Routes />
    <script src="displayFunctions.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
