<div class="transform-3d flex flex-col justify-center items-center p-6" id="container" >

    @for(int i = 1; i < 4; i++)
    {
        string name = inputName + i;
        if(i == 1)
        {
            <input type="radio" name="slider" id=@name checked>
        }
        else
        {
            <input type="radio" name="slider" id=@name>
        }
    }


    <div id="cards" class="relative w-full h-full">

        @for (int i = 1; i < 4; i++)
        {
            string inName = inputName + i;
            string lName = labelName + i;
            <label class="absolute w-1/2 h-full card" for=@inName id=@lName>
                <img class="rounded-xl w-auto h-full" src="https://images.unsplash.com/photo-1620799139652-715e4d5b232d?q=80&w=1972&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </label>
        }
    

    </div>
</div>

<style>

    input[type=radio] {
        display: none;
    }

    .card {
        position: absolute;
        width: 60%;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        transition: transform .4s ease;
        cursor: pointer;
    }

    #cards {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }


    #input-1:checked ~ #cards #frame-3, #input-2:checked ~ #cards #frame-1, #input-3:checked ~ #cards #frame-2 {
        transform: translatex(-40%) scale(.8);
        opacity: .4;
        z-index: 0;
    }

    #input-1:checked ~ #cards #frame-2, #input-2:checked ~ #cards #frame-3, #input-3:checked ~ #cards #frame-1 {
        transform: translatex(40%) scale(.8);
        opacity: .4;
        z-index: 0;
    }

    #input-1:checked ~ #cards #frame-1, #input-2:checked ~ #cards #frame-2, #input-3:checked ~ #cards #frame-3 {
        transform: translatex(0) scale(1);
        opacity: 1;
        z-index: 1;
    }

    #container{
        height: 35rem;
    }   
   
</style>

@code {
    private string inputName = "input-";
    private string labelName = "frame-";
    [Parameter]
    public string Location { get; set; }
}
 