<div>

    <div class="max-w-sm w-full bg-amber-700 border border-gray-200 rounded-lg shadow-sm dark:bg-grey-800 dark:border-grey-700">

        <div class="relative group w-full">
            <figure class="w-full">
                <img class="rounded-lg w-full" />
            </figure>

            <button class="absolute bottom-4 left-1/2 transform -translate-x-1/2 bg-black/50 text-white px-4 py-2 rounded-lg opacity-0 group-hover:opacity-100 w-full">
                Click Me
            </button>
        </div>

    </div>

</div>

@code {

}
