@using FrontEnd.Components.DefaultLayoutComponents
@inherits LayoutComponentBase

<Header></Header>

<main class="mx-auto flex flex-col items-start justify-start min-h-screen max-w-7xl p-6 lg:px-8">
    @Body
</main>




<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
